<h2>User</h2>

<h3><%= @user.username %> 
<h3><%= @user.email%> 
<h3>Posts: <% @user.posts.each do |post|%>
    <p><%= post.title %></p>
<% end %>

<h3><%= link_to "Create New SubGeddit", :controller => :subreddits, :action => :new %>



