<body>
<head>
<style>

</style>
<head>

<h1> Come and GEDDIT </h1>



<% @top_posts.each do |x| %>
<p class='posts'><%= link_to x.title, :controller => :posts, :action => :show, :id => x.id %> 
    <%end%>
</p>
</body>


