/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* @import "bootstrap-sprockets"
@import "bootstrap"  */



 body {
  background-color: #e8e8e8;
  color: #7d7d7d;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: whitesmoke;
 }
 

ul {
    padding-left: 0px;
    /* width: 696px; */
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
  display: inline-block;
  margin: 3.4em 3em;/* (top & bottom) (left & right) */
  text-transform: uppercase;
}

li:first-child {
  font-weight: bold;
  color: white;
  margin: 3.4em 5em;
}

#header {
  height: 3em;
  width: 100%;
  background-color: #E752D3;
  /*margin: 0 2em 0 2em;*/
  padding-bottom: 70px;
  font-size: medium;
}

#header a {
    color: black;
    text-decoration: none;
    transition: .3s;
    font-size: medium;
}

#header a:hover {
    color: #ddd;
    transition: 0;
}

#body {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  text-decoration: none;
}

.logo {
   width: 2em;
   border-radius: 100%;
   vertical-align: middle;
}

p.posts {
border: 3px solid black;
padding: 5px 5px 5px 5px;
font-size: 20px; 
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
text-decoration: none;  
color: purple;
}

a:link {
  text-decoration: none;
}

a:visited{
  color: purple;
}

p.post_box {
  border: 1px solid black;
  font-weight: normal;
  font-size: 12px;
  padding: 5px;
  margin-right: 300px; 
  height:200px
}



